.layout {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Ensure the layout takes the full height of the viewport */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.layout .content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%; /* Ensure content takes the full width */
  height: 100%; /* Ensure content takes the full height */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.layout.expanded .content {
  margin-left: 240px; /* Adjust based on navbar width */
}

.layout.collapsed .content {
  margin-left: 60px; /* Adjust based on navbar width */
}