.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f8f9fd;
  padding: 20px;
}

.container {
  display: flex;
  width: 1280px;
  height: 240px;
  border-radius: 8px;
  background: #fff;
  padding: 25px 50px;
}

/* Add rest of the styles */
