.metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  align-items: center;
  text-align: center;
}

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Add rest of the styles */
